<template>

    <div class="todo-container">
        <lightning-layout multiple-rows>
            <lightning-layout-item id="upcoming" ondragover={handleDragOver} ondrop={handleCardDrop}
                size="12" small-device-size="12" medium-device-size="6" large-device-size="3" padding="around-small">
                <c-todo-list list-name="Upcoming" todos={upcomingTodos} list-icon="action:new_task"
                            oncardclick={handleCardClick} oncarddelete={handleCardDelete}
                            ontogglecomplete={handleToggleComplete} oncreatetodo={handleCreateTodo}></c-todo-list>
            </lightning-layout-item>
            <lightning-layout-item id="today" ondragover={handleDragOver} ondrop={handleCardDrop}
            size="12" small-device-size="12" medium-device-size="6" large-device-size="3" padding="around-small">
                <c-todo-list list-name="Due Today" todos={dueTodayTodos} list-icon="action:priority"
                            oncardclick={handleCardClick} oncarddelete={handleCardDelete}
                            ontogglecomplete={handleToggleComplete} oncreatetodo={handleCreateTodo}></c-todo-list>
            </lightning-layout-item>
            <lightning-layout-item id="overdue" ondragover={handleDragOver} ondrop={handleCardDrop}
            size="12" small-device-size="12" medium-device-size="6" large-device-size="3" padding="around-small">
                <c-todo-list list-name="Overdue" todos={overdueTodos} list-icon="action:close"
                            oncardclick={handleCardClick} oncarddelete={handleCardDelete}
                            ontogglecomplete={handleToggleComplete} oncreatetodo={handleCreateTodo}></c-todo-list>
            </lightning-layout-item>
            <lightning-layout-item id="completed" ondragover={handleDragOver} ondrop={handleCardDrop}
            size="12" small-device-size="12" medium-device-size="6" large-device-size="3" padding="around-small">
                <c-todo-list list-name="Completed" todos={completedTodos} list-icon="action:approval"
                            oncardclick={handleCardClick} oncarddelete={handleCardDelete}
                            ontogglecomplete={handleToggleComplete} oncreatetodo={handleCreateTodo}></c-todo-list>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <!-- Create Modal -->
    <template if:true={createModalVisible}>
        <c-create-todo-modal object-api-name="ToDo__c" oncreatetodo={handleTodoCreated} oncancelcreate={handleCancelCreate}></c-create-todo-modal>
    </template>
    <!-- Edit Modal -->
    <template if:true={editModalVisible}>
        <c-edit-todo-modal object-api-name="ToDo__c" todo-id={selectedTodoId} prepopulated-fields={prepopulatedFields}
                            oneditodo={handleEditTodo} oncanceledit={handleCancelEdit}></c-edit-todo-modal>
    </template>
    <!-- Delete Modal -->
    <template if:true={deleteModalVisible}>
        <c-delete-todo-modal object-api-name="ToDo__c" todo-id={selectedTodoId}
                             onconfirmdelete={handleDeleteTodo}
                             oncanceldelete={handleCancelDelete}></c-delete-todo-modal>
    </template>

</template>