<template>
    <div class="demo-only" style="height: 640px;">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">

                <!-- Close Button -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse close-button" title="Close" onclick={handleClose}>
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <!-- Title -->
                    <h2 id="modal-heading-01" data-id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Delete Todo?</h2>
                </header>

                <!-- Body -->
                <div class="slds-modal__content" id="modal-content-id-1">

                    <div class="slds-text-body_regular slds-align_absolute-center slds-var-p-top_medium">
                        Are you sure you want to delete this record?
                    </div>

                    <div class="slds-var-p-horizontal_small slds-var-p-top_small">
                        <lightning-record-form
                            object-api-name={objectApiName}
                            record-id={todoId}
                            layout-type="Compact"
                            mode="readonly">
                        </lightning-record-form>
                    </div>
                </div>

                <!-- Footer -->
                <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" onclick={handleCancel} class="slds-var-m-horizontal_large"></lightning-button>
                        <lightning-button label="Delete" variant="destructive" icon-name="utility:delete" onclick={handleConfirmDelete}
                                            class="slds-var-m-horizontal_large"></lightning-button>
                </footer>

            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>