<template>
        <div class="slds-var-p-bottom_small">
            <lightning-card 
                title={listName} 
                icon-name={listIcon}
                class="list-header">
            </lightning-card>
        </div>
    
    
        <template if:true={todos}>
            <template for:each={todos} for:item="eachTodo">
                <c-todo-card key={eachTodo.id} todo={eachTodo} oncardclick={handleCardClick} ondeletecard={handleCardDelete}
                             ontogglecomplete={handleToggleComplete}></c-todo-card>
            </template>
        </template>
    
        <template if:true={showAddTodoButton}>
            <div class="slds-align_absolute-center slds-var-p-top_medium">
                <lightning-button-icon icon-name="utility:new" variant="bare" alternative-text="Add Todo Task" 
                                        title="Add Todo Task" onclick={handleCreateTodo}></lightning-button-icon>
            </div>
        </template>    
</template>