<template>
    <!-- <div draggable="true" ondragstart={handleDragStart} onclick={handleCardClick} class="slds-var-p-top_small slds-var-p-horizontal_small"
    ondragover={handleDragOver} ondrop={handleDrop}> -->
    <div draggable="true" ondragstart={handleDragStart} onclick={handleCardClick} class="slds-var-p-top_small slds-var-p-horizontal_small">
    
        <lightning-card variant="narrow">
            <h1 slot="title" class="no-wrap">{todo.title}</h1>
            <lightning-button-menu alternative-text="Show menu" slot="actions" onclick={handleDoNothing}> <!-- onclick prevents parent div's onclick-->
                <lightning-menu-item value="Delete" label="Delete" onclick={handleDeleteTodo}></lightning-menu-item>
                <lightning-menu-item value="MarkComplete" label={toggleCompleteLabel} onclick={handleToggleComplete}></lightning-menu-item>
            </lightning-button-menu>

            <div class="slds-text-body_small slds-var-p-horizontal_small">
                {dateLabel}
            </div>
        </lightning-card>
    </div>
</template>