<template>
    <div class="demo-only" style="height: 640px;">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">

                <!-- Close Button -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse close-button" title="Close" onclick={handleCancel}>
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <!-- Title -->
                    <h2 id="modal-heading-01" data-id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Edit Todo</h2>
                </header>

                <!-- Body -->
                <div class="slds-modal__content" id="modal-content-id-1">
                    <!-- Create -->
                    <div class="slds-var-p-horizontal_small slds-var-p-top_small">
                        <lightning-record-edit-form
                            object-api-name="ToDo__c"
                            record-id={todoId}
                            onsuccess={handleSuccess}
                            oncancel={handleCancel}>
                            <lightning-messages></lightning-messages>
                            <lightning-input-field field-name="Description__c"></lightning-input-field>
                            <lightning-input-field field-name="Title__c" value={prepopulatedFields.title}></lightning-input-field>

                            <template if:true={hasPrepopulatedDueDate}>
                                <lightning-input-field field-name="Due_Date__c" value={prepopulatedFields.dueDate}></lightning-input-field>
                            </template>
                            <template if:false={hasPrepopulatedDueDate}>
                                <lightning-input-field field-name="Due_Date__c"></lightning-input-field>
                            </template>

                            <lightning-input-field field-name="Reminder_Date__c"></lightning-input-field>

                            <template if:true={hasPrepopulatedCompleteField}>
                                <lightning-input-field field-name="Completed__c" value={prepopulatedFields.isComplete}></lightning-input-field>
                            </template>
                            <template if:false={hasPrepopulatedCompleteField}>
                                <lightning-input-field field-name="Completed__c"></lightning-input-field>
                            </template>

                        </lightning-record-edit-form>
                    </div>

                </div>

                <!-- Footer -->
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-var-m-horizontal_large" label="Cancel" onclick={handleCancel}></lightning-button>
                    <lightning-button class="slds-var-m-horizontal_large" variant="brand" label="Submit" onclick={handleSubmit}></lightning-button>
                </footer>

            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>